.opcion-respuesta {
  border: 2px solid #6c757d;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  background-color: white;
}

/* Cuando pasa el mouse */
.opcion-respuesta:hover {
  transform: translateY(-2px);
  border-color: #4c51bf;
}

/* Estilos cuando está seleccionada */
.opcion-respuesta.seleccionada {
  color: white;
  font-weight: bold;
}

/* Colores por respuesta */
.opcion-si.seleccionada {
  background-color: #34c759; /* Verde */
  border-color: #34c759;
}

.opcion-no.seleccionada {
  background-color: #ff3b30; /* Rojo */
  border-color: #ff3b30;
}

.opcion-npo.seleccionada {
  background-color: #ffcc00; /* Amarillo */
  border-color: #ffcc00;
}
